.app {
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    /* width: 100vw; */
}

.left {
    border-right: solid gray 1px;
    height: 100%;
    width: 30%;
    display: flex;
}

.leftInner {
    padding: 2rem;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.right {
    background-color: lightgray;
    min-height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.canvas {
    background-color: white;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 2px;
    image-rendering: crisp-edges;
}

.textarea {
    /* width: 100%; */
    min-height: 48vh;
    height: 48%;
}

.parsed {
    min-height: 3rem;
    min-width: 50%;
    background-color: lightgray;
    border-radius: 2px;
    padding: 1rem;
}